---
layout: layouts/base.njk
canonicalPath: /
---
{% include "partials/hero.njk" %}
{% include "partials/featured-work.njk" %}
{% include "partials/strengths.njk" %}
{% include "partials/contact.njk" %}
