---
layout: layouts/base.njk
canonicalPath: /
permalink: /index.html
---
{% include "partials/hero.njk" %}
{% include "partials/home-companies.njk" %}
{% include "partials/home-mentorship.njk" %}
{% include "partials/featured-work.njk" %}
{% include "partials/latest-posts.njk" %}
